<header>
    <nav>
        <ul>
            <li><a href ="/users">Users</a></li>
            <li><a href ="/new">New User</a></li>
            <li><a href ="">Add Category</a></li>
            <li><a href ="/drugs/new">Add Drugs</a></li>
            <li><a href ="/drugs">Drugs</a></li>

        </ul>
    </nav>
</header>